{% extends 'admin/menu.html' %}

{% block css %}
    <style>
        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            float: left;
            padding: 10px;
            padding-left: 0;
            width: 80px;
        }

        ul li i {
            font-size: 18px;
            margin-left: 5px;
            color: #6d6565;
        }

    </style>
{% endblock %}

{% block table %}
    <div class="luffy-container">
        <form  action="" method="post" class="form-horizontal" enctype="multipart/form-data">
            <fieldset>
                {% for foo in form %}
                    {% if foo.name != 'submit' %}
                        <div class="form-group">
                            <div class="col-sm-2 control-label">
                                {{foo.label}}
                             </div>
                            <div class="col-sm-6">
                                {{foo|safe}}
                                {% for err in foo.errors %}
                                    <span class="error">{{ err }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </div>
                </div>
          </fieldset>
        </form>
    </div>

{% endblock %}