
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="{{url_for('static',filename='font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='boot/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/base_css.css')}}">
    <script src="{{url_for('static',filename='jquery/jquery-3.3.1.min.js')}}"></script>

    {% block css %}
    {% endblock %}

</head>
<body>
<div class="head">
    <div class="head_logo">
        <a href="">
            <img src="{{url_for('static',filename='imgs/luffy-study-logo.png')}}" alt="">
            <span>客户管理系统</span>
        </a>
    </div>
    <div class="left">
        <a href="" class="menu_list">资产管理</a>
        <a href="" class="menu_list">用户信息</a>
        <a href="" class="menu_list">管理平台</a>
        <div class="menu_list">
            <span>使用说明</span>
            <i class="fa fa-caret-down state" aria-hidden="true"></i>
            <div class="menu_item">
                <a href="">1</a>
                <a href="">2</a>
            </div>
        </div>

    </div>
    <div class="right">
        <div class="user right">
            <a href="">
                <img src="{{url_for('static',filename='imgs/default.png')}}" alt="" class="img">
            </a>

        </div>
        <a href="/logout"  class="user_menu right">注销
        <i class="fa fa-sign-out" aria-hidden="true"></i></a>

        <a href="" class="user_menu right">任务
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            <span class="badge">0</span>
        </a>
        <a href="" class="user_menu right">通知
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <span class="badge">0</span>
        </a>
        <a href="" class="user_menu right">消息
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
            <span class="badge">0</span>
        </a>

    </div>
</div>


<div class="content">
{% block menu %}
{% endblock %}
{#    <div class="menu">#}
{#        <div class="menu_display">#}
{#            <div class="items">#}
{#            {% for menu in menu_list %}#}
{#                <div class="title">#}
{#                    <span><i class="fa {{ menu.icon }}"></i></span> {{ menu.title }}#}
{#                </div>#}
{#                <div class="body2 hide">#}
{#                    {% for foo in menu.permission %}#}
{#                        <a href="{{ foo.url }}" >{{ foo.title }}</a>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            {% endfor %}#}
{#</div>#}
{#</div>#}
{#    </div>#}
    <div class="contain">

        <div class="right_content">
            {% block table %}
            {% endblock %}

        </div>

    </div>
</div>
<script src="{{url_for('static',filename='js/menu_display.js')}}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>



<script>
    (function (jq) {
    jq('.items.title').click(function () {
        $(this).next().toggleClass('active');
    });
})(jQuery);
</script>
