{% extends "common.html" %}
{% block content %}
	<!-- //网站头部 -->
	<div id="mr-mainbody" class="container mr-mainbody">
		<div class="row">
			<div id="mr-content" class="mr-content col-xs-12">
				<div class="login-wrap"
					style="margin-bottom: 60px; margin-top: 50px">
					<div class="login">
						<div class="page-header" style="pause: 0px;">
							<h1 class="login_h1">更改密码</h1>
						</div>
						<!-- 会员更改密码表单 -->
						<form  action="" method="post" class="form-horizontal">
							<fieldset>
                                {% for foo in form %}
                                    {% if foo.name!='submit' %}
                                        <div class="form-group">
                                            <div class="col-sm-4 control-label">
                                                {{foo.label}}
                                            </div>
                                            <div class="col-sm-8">
                                                <!-- 密码文本框 -->
                                                {{foo}}
                                                {% for err in foo.errors %}
                                                    <span class="error">{{ err }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}

                                {% endfor %}

								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-8">
										{{ form.csrf_token }}
										{{ form.submit }}
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //主体内容 -->
{% endblock %}